sudo: required
dist: trusty
language: minimal
branches:
  only:
  - master
  - dev
env:
  global:
  - PROJECT_NAME=band-base-py
  - ORG=rockstat
  - IMAGE_NAME=$ORG/$PROJECT_NAME
  - VERSION=0.17.6
  - TAG="$( [ $TRAVIS_BRANCH == 'master' ] && echo latest || echo $TRAVIS_BRANCH )"
  - secure: bB5Y+bokrlZZ33JcVHEBWER19qRT4rDIDdBaInax41Gt+XtHo4lvj+abj5sv92W36XjZs8O0sF4wa0oSKEniBeEjBAAjtPD6dSet+GHzHlledUH/VWA3+nN/mKv0ImeiWTHmC2tPYhxkeRzeREGeCwZMsxk3NSSkLAJh11Z+ikgaJgFq7oB8bUM66RgaYvYlCu22Sx7KR9zdjlrNJWkEsHVYy45KC+pRzi2hzAOKyhlT7mL1hEw8gxkBUayPw1SG10y0ByxdA3T9368oi3oJhluXALI/tRCYPNZRh4uGKtbGfu0W+qx+bbtLHKE5v9itYeRDuoP60w8heMs7MNqyMWMrP1lZy3fojTHyudKI2HKC8NC1/3cv+cYgHNGUITBRRcCnxh826nGdvVkU5IJd8U4PemOdqm/XsyYRsZAXcV3sxD84hJgRPcLJqqCYOyie0BQh8U8vb3MqQoQJifMadDHoFqMBNGihpZECH6FZcEynSsXNo/vJU3DLh+ChAwWlm9xhm0uhD/yzFSnH9+cAUNbX6wM3xLUZeXFXcbJ7NffP80tSIW9wWNJwNLedtzgg0vOpdgCm9lIeu3ZN91MYZxnu/6BdJA4F7zgF7YUkaJXB/8H7RaPrqdhTXfLgIlPhF+CzL3M5sxR/y58DD5VgO8Yuj+Me9JpqRHBzjpFfa5I=
  - secure: hFXYHNtvQjRZnZYw+g+ce9l+5mxzU8Dp/8p7BmKBJrRGsSB+kyFfFX9cnkgbds9QrTRM22xTlvXqnBKLQQBeKFPxghCXqJGsSIW3jj5mp8gGr0d8L4UB/ZT7R/dvsC7KAyqeJmuhV7qbqU58D7wGrOuobguYMsPlboG9tWRcpqnXfy1ZAOD6wwxn4g/zEJb97WRsp/a2ED/XHKOUUCFnCuYGRbh0OvTnzMUFi+NzpVsYKJOIGRyNXJ8umz5aF47aijT8kUHX+kPtxzwTxWU508qfncSz2OT5fEUH0zLbUd+gMlDhE6RKHzFou/iNYecaZKYT1s/YGtJFM9yJOB7iP1txJy9SwLrw9uo8ZCulDzAeOgiNeqcu8f+tZ/wQz+tnlVKtEs1otk3kyunASKhpqKHDcY8/EPPPX0Z0Vinbfu07QtylxpngijGxrctw5UFTWC/TrVokKdBvCrjgwbUhg8X2HkAFqJScHqtFaO2JY/ySarC1Pl3zA3wj08ePkXzu7RUhfvBqTcBnpLqcqnnYMulyPUOoEE414lezr2u2y5xgtj1VKFllajepmjKRz8xmlN1568IWOUU6YSorzkHLxpu6Os3H0QLLU3dMdUn5wAKyofIFTJPO8w8nSK0LX0TZXsoXrwLkhXCZV7BSjHSwRckTEpKYqX9Zj5UQtQOPBvM=
services:
- docker
script:
- cat Dockerfile | sed  "s/\:latest/\:$TAG/g" > Dockerfile.tag
- echo "$PROJECT_NAME $IMAGE_NAME:$TAG"
- docker build -t $PROJECT_NAME -f Dockerfile.tag .
after_script:
- docker images
before_deploy:
- docker tag "$PROJECT_NAME" "$IMAGE_NAME:$TAG"
- docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"
after_deploy:
- make repo=rockstat/director br=$TRAVIS_BRANCH travis-trigger
- make repo=rockstat/anaconda br=$TRAVIS_BRANCH travis-trigger
deploy:
  provider: script
  skip_cleanup: true
  script: docker push "$IMAGE_NAME:$TAG"
  on:
    all_branches: true
