# Base
python-dotenv
jinja2
inflection
pyyaml
ujson
uvloop
asyncio
arrow
aiohttp
aioredis
async_lru
jsonrpcserver 
git+https://github.com/bcb/jsonrpcclient.git@master#egg=jsonrpcclient
aiofiles
aiojobs
aiodocker
prodict
requests
coloredlogs
