# Base
python-dotenv
jinja2
inflection
pyyaml
ujson
uvloop
asyncio
aiohttp
aioredis
aiojobs
jsonrpcserver 
git+https://github.com/bcb/jsonrpcclient.git@master#egg=jsonrpcclient
aiofiles
aiojobs
aiodocker
prodict
